@import "const/const.scss";

.b-top-block
{
    width: 100%;// 1920px;
    margin: 0 auto;
    position: relative;
    background-size: cover;

    &__carousel
    {
        &:before
        {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 50%;
            height: 0;
            content: '';
            border-bottom: 125px solid $white;
            border-right: 960px solid transparent;
            z-index: 5;
        }

        &:after
        {
            position: absolute;
            right: 0;
            bottom: -1px;
            width: 50%;
            height: 0;
            content: '';
            border-bottom: 125px solid $white;
            border-left: 960px solid transparent;
            z-index: 5;
        }

    }

    &__background
    {
        background: $topBackground;
    }

    &__background-img
    {
        &_aerostat
        {
            background: url(../../img/background-aerostat.jpg) center center no-repeat;
        }
        
        &_brown
        {
            background: url(../../img/background-brown.jpg) center center no-repeat;
        }

        &_green
        {
            background: url(../../img/background-green.jpg) center center no-repeat;
        }
    }

    &__anchor
    {
        position: absolute;
        left: 48%;
        bottom: -4%;
        z-index: 10;
        width: 65px;
        height: 65px;
        background: $lightText;
        border: 5px solid $greyBorder;
        border-radius: 50%;
        display: table;
    }

    &__anchor-icon
    {
        background: url(../../img/anchor.svg) center center no-repeat;
        width: 22px;
        height: 31px;
        position: relative;
        margin: 13px auto;
        display: table-cell;
        vertical-align: middle;
    }

    &__arrow
    {
        display: block;
        position: absolute;
        top: -150px;
        margin: auto;
        width: 46px;
        height: 46px;
        border-radius: 2px;
        opacity: 1;
        transition: $transition;

        &:hover,
        &:focus
        {
            background-color: $lightRed;    
        }

        &_left
        {
            left: 50px;
            background: $mainRed;
        }

        &_right
        {
            right: 50px;
            background: $mainRed;
        }
    }

    &__arrow-icon
    {
        margin: 14px auto;
        display: block;

        &_left
        {
            background: url(../../img/prev-white.svg) center center no-repeat;
            width: 20px;
            height: 20px;
        }

        &_right
        {
            background: url(../../img/next-white.svg) center center no-repeat;
            width: 20px;
            height: 20px;
        }
    }

    &__content
    {
        text-align: center;
        margin-top: 220px;
        margin-bottom: 220px; 
    }

    &__title
    {
        font: 700 72px/76px $moreFont;
        color: $lightText;
        margin-top: 35px;
        margin-bottom: 0;
        //position: relative;
    }

    &__subtitle
    {
        font: 400 24px/26px $moreFont;
        color: $lightText;
    }

    &__description
    {
        font: 400 14px/24px $moreFont;
        color: $lightText;
        margin-top: 80px;
    }

    &__circle
    {
        width: 10px;
        height: 10px;
        margin: 0 auto;
        background: $mainRed;
        border-radius: 50%;
        margin-top: 31px;
        position: relative;

        &:before,
        &:after
        {
            content: '';
            //display: block;
            width: 80px;
            height: 2px;
            background: $circleLine;   
            left: -87px;
            top: 4px;
            position: absolute;
        }

        &:after
        {
            left: 15px;
        }
    }

    &__buttons-block
    {
        margin-top: 65px;
    }
}

@media screen and (max-width: 1700px)
{
    .b-top-block
    {
        &__anchor
        {
            left: 47.5%;
            bottom: -2%;
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-top-block
    {
        &__content
        {
            margin-top: 145px;
            margin-bottom: 145px;
        }

        &__anchor
        {
            bottom: 0;
        }

        &__description
        {
            margin-top: 50px;
        }

        &__buttons-block 
        {
            margin-top: 55px;
        }
    }
}

@media screen and (max-width: 1250px)
{
    .b-top-block
    {
        &__carousel
        {
            &:before
            {
                border-bottom: 105px solid $white;
                border-right: 625px solid transparent;
            }
    
            &:after
            {
                border-bottom: 105px solid $white;
                border-left: 625px solid transparent;
            }
        }

        &__anchor
        {
            left: 47.5%;
            bottom: -3%;
            width: 50px;
            height: 50px;
        }

        &__anchor-icon
        {
            width: 20px;
            height: 25px;
        }

        &__arrow
        {
            width: 35px;
            height: 35px;
        }

        &__arrow-icon
        {
            margin: 8px auto;
            transition: $transition;
        }
    }
}

@media screen and (max-width: 1200px)
{
    .b-top-block
    {
        &__title
        {
            font: 700 60px/64px $moreFont;
        }
    }
}

@media screen and (max-width: 1090px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: 0;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-top-block
    {
        &__content
        {
            margin-top: 105px;
            margin-bottom: 130px;
        }
    }
}

@media screen and (max-width: 995px)
{
    .b-top-block
    {
        &__title
        {
            font: 700 40px/46px $moreFont;
        }

        &__subtitle
        {
            font: 400 20px/26px $moreFont;
        }

        &__description
        {
            font: 400 13px/22px $moreFont;
        }

        &__anchor
        {
            left: 46.5%;
        }
    }
}

@media screen and (max-width: 840px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: 2%;
        }

        &__arrow
        {
            &_left
            {
                left: 20px;
            }

            &_right
            {
                right: 20px;
            }
        }
    }
}

@media screen and (max-width: 645px)
{
    .b-top-block
    {
        &__carousel
        {

            &:before
            {
                border-bottom: 50px solid $white;
                border-right: 330px solid transparent;
            }

            &:after
            {
                border-bottom: 50px solid $white;
                border-left: 330px solid transparent;
            }
        }

        &__anchor
        {
            bottom: -3%;
            left: 45%;
        }
    }
}

@media screen and (max-width: 500px)
{
    .b-top-block
    {
        &__arrow-icon
        {
            &_left
            {
                &:focus,
                &:hover
                {
                    background: url(../../img/prev-red.svg) center center no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }

            &_right
            {
                &:focus,
                &:hover
                {
                    background: url(../../img/next-red.svg) center center no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__circle
        {
            margin-top: 15px;
        }

        &__description
        {
            margin-top: 35px;
        }

        &__title
        {
            margin-top: 15px;
        }

        &__buttons-block
        {
            margin-top: 15px;
        }

        &__carousel
        {
            &:before
            {
                border-bottom: 35px solid $white;
                border-right: 250px solid transparent;
            }
    
            &:after
            {
                border-bottom: 35px solid $white;
                border-left: 250px solid transparent;
            }
        }

        &__content
        {
            margin-top: 115px;
            margin-bottom: 89px;
        }

        &__arrow
        {
            top: -55px;

            &_left,
            &_right
            {
                &:hover,
                &:focus
                {
                    background: none;
                }
                background: none;
            }
        }
    }
}

@media screen and (max-width: 432px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -25px;
        }
    }
}


@media screen and (max-width: 364px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -95px;
        }
    }
}

@media screen and (max-width: 353px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -115px;
        }
    }
}

@media screen and (max-width: 334px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: -1%;
            left: 43%;
        }

        &__arrow
        {
            top: -95px;
        }
    }
}