.b-top-block
{
    width: 100%;// 1920px;
    min-height: 990px;
    margin: 0 auto;
    position: relative;
    background: url(../../img/Background.jpg) center center no-repeat;
    background-size: cover; /* Современные браузеры */

    &:after
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 0;
        content: '';
        border-bottom: 86px solid #fff;
        border-right: 680px solid transparent;
        z-index: 5;
    }

    &:before
    {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 0;
        content: '';
        border-bottom: 86px solid #fff;
        border-left: 680px solid transparent;
        z-index: 5;
    }

    &__anchor
    {
        position: absolute;
        left: 47.5%;
        bottom: -4%;
        width: 74px;
        height: 74px;
        background: url(../../img/anchor.png) bottom center no-repeat;
        z-index: 10;
    }

    &__arrow
    {
        display: block;
        position: absolute;
        top: 435px;
        margin: auto;

        &_left
        {
            left: 50px;
        }

        &_right
        {
            right: 50px;
        }
    }

    &__content
    {
        text-align: center;
        margin-top: 320px;
    }

    &__title
    {
        font: 700 72px/76px 'Open Sans', sans-serif;
        color: #f4f5f9;
        margin-top: 35px;
        margin-bottom: 0;
        position: relative;
    }

    &__subtitle
    {
        font: 400 24px/26px 'Open Sans', sans-serif;
        color: #f4f5f9;
    }

    &__description
    {
        font: 400 14px/24px 'Open Sans', sans-serif;
        color: #f4f5f9;
        margin-top: 80px;
    }

    &__circle
    {
        width: 10px;
        height: 10px;
        margin: 0 auto;
        background: #e74c3c;
        border-radius: 50%;
        content: '';
        display: block;
        margin-top: 31px;
        position: absolute;
        left: 50%;
        margin-left: -10px;


        &:after
        {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background: #f1ebe7; 
            margin: 0 auto;  
            margin-left: -85px;
            margin-top: -2px;
        }

        &:before
        {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background: #f1ebe7; 
            margin: 0 auto;  
            margin-left: 15px;
            margin-top: 5px;
        }
    }

    &__buttons-block
    {
        color: #fff;
        margin-top: 65px;
    }
    &__button
    {
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
        font: 400 14px/14px 'Open Sans', sans-serif;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding: 20px 47px;
        text-align: center;

        &_light
        {
            border: 2px solid #fff;
            transition: 0.3s;
            padding: 20px 67px;

            &:hover
            {
                text-decoration: none;
                background-color: #fff;
                color: #6a6a6a;
            }
        }

        &_red
        {
            background-color: #e74c3c; 
            border: 2px solid #e74c3c;
            margin-right: 30px;
            box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
            transition: 0.3s;

            &:hover
            {
                background-color: #c13f31;
                border: 2px solid #c13f31;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}