.b-top-block
{
    width: 100%;// 1920px;
    margin: 0 auto;
    position: relative;
    background-size: cover;

    &__carousel
    {
        &:before
        {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 50%;
            height: 0;
            content: '';
            border-bottom: 125px solid #fff;
            border-right: 960px solid transparent;
            z-index: 5;
        }

        &:after
        {
            position: absolute;
            right: 0;
            bottom: -1px;
            width: 50%;
            height: 0;
            content: '';
            border-bottom: 125px solid #fff;
            border-left: 960px solid transparent;
            z-index: 5;
        }

    }

    &__background
    {
        background: #47403b;
    }

    &__background-img
    {
        &_aerostat
        {
            background: url(../../img/background-aerostat.jpg) center center no-repeat;
        }
        
        &_blue
        {
            background: url(../../img/background-blue.jpg) center center no-repeat;
        }

        &_gradient
        {
            background: url(../../img/background-gradient.jpg) center center no-repeat;
        }
    }

    &__anchor
    {
        position: absolute;
        left: 48%;
        bottom: -4%;
        z-index: 10;
        width: 65px;
        height: 65px;
        background: #f4f5f9;
        border: 5px solid rgba(255, 255, 255, 0.251);
        border-radius: 50%;
        display: table;
    }

    &__anchor-icon
    {
        background: url(../../img/anchor.svg) center center no-repeat;
        width: 22px;
        height: 31px;
        position: relative;
        margin: 13px auto;
        display: table-cell;
        vertical-align: middle;
    }

    &__arrow
    {
        display: block;
        position: absolute;
        top: -150px;
        margin: auto;
        width: 46px;
        height: 46px;
        border-radius: 2px;
        opacity: 1;

        &:hover,
        &:focus
        {
            background-color: #c13f31;    
        }

        &_left
        {
            left: 50px;
            background: #e74c3c;
        }

        &_right
        {
            right: 50px;
            background: #e74c3c;
        }
    }

    &__arrow-icon
    {
        margin: 12px auto;
        display: block;

        &_left
        {
            background: url(../../img/next-white.svg) center center no-repeat;
            width: 20px;
            height: 24px;
            transform: rotate(180deg);
        }

        &_right
        {
            background: url(../../img/next-white.svg) center center no-repeat;
            width: 20px;
            height: 24px;
        }
    }

    &__content
    {
        text-align: center;
        margin-top: 220px;
        margin-bottom: 220px; 
    }

    &__title
    {
        font: 700 72px/76px 'Open Sans', sans-serif;
        color: #f4f5f9;
        margin-top: 35px;
        margin-bottom: 0;
        position: relative;
    }

    &__subtitle
    {
        font: 400 24px/26px 'Open Sans', sans-serif;
        color: #f4f5f9;
    }

    &__description
    {
        font: 400 14px/24px 'Open Sans', sans-serif;
        color: #f4f5f9;
        margin-top: 80px;
    }

    &__circle
    {
        width: 10px;
        height: 10px;
        margin: 0 auto;
        background: #e74c3c;
        border-radius: 50%;
        margin-top: 31px;
        position: relative;

        &:before,
        &:after
        {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background: #f1ebe7; 
            margin: 0 auto;  
            margin-left: -87px;
            margin-top: 4px;
            position: absolute;
        }

        &:after
        {
            margin-left: 15px;
        }
    }

    &__buttons-block
    {
        margin-top: 65px;
    }
}

@media screen and (max-width: 1700px)
{
    .b-top-block
    {
        &__anchor
        {
            left: 47.5%;
            bottom: -2%;
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-top-block
    {
        &__content
        {
            margin-top: 180px;
            margin-bottom: 180px;
        }

        &__anchor
        {
            bottom: 0;
        }
    }
}

@media screen and (max-width: 1250px)
{
    .b-top-block
    {
        &__content
        {
            margin-top: 145px;
            margin-bottom: 145px;
        }

        &__carousel
        {
            &:before
            {
                border-bottom: 105px solid #fff;
                border-right: 625px solid transparent;
            }
    
            &:after
            {
                border-bottom: 105px solid #fff;
                border-left: 625px solid transparent;
            }
        }

        &__anchor
        {
            left: 47.5%;
            bottom: -3%;
            width: 50px;
            height: 50px;
        }

        &__anchor-icon
        {
            width: 20px;
            height: 25px;
        }

        &__arrow
        {
            width: 35px;
            height: 35px;
        }

        &__arrow-icon
        {
            margin: 6px auto;
        }
    }
}

@media screen and (max-width: 1200px)
{
    .b-top-block
    {
        &__title
        {
            font: 700 60px/64px 'Open Sans', sans-serif;
        }
    }
}

@media screen and (max-width: 1090px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: 0;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-top-block
    {
        &__content
        {
            margin-top: 105px;
            margin-bottom: 130px;
        }
    }
}

@media screen and (max-width: 995px)
{
    .b-top-block
    {
        &__title
        {
            font: 700 40px/46px 'Open Sans', sans-serif;
        }

        &__subtitle
        {
            font: 400 20px/26px 'Open Sans', sans-serif;
        }

        &__description
        {
            font: 400 13px/22px 'Open Sans', sans-serif;
        }

        &__anchor
        {
            left: 46.5%;
        }
    }
}

@media screen and (max-width: 840px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: 2%;
        }

        &__arrow
        {
            &_left
            {
                left: 20px;
            }

            &_right
            {
                right: 20px;
            }
        }
    }
}

@media screen and (max-width: 645px)
{
    .b-top-block
    {
        &__carousel
        {

            &:before
            {
                border-bottom: 50px solid #fff;
                border-right: 330px solid transparent;
            }

            &:after
            {
                border-bottom: 50px solid #fff;
                border-left: 330px solid transparent;
            }
        }

        &__anchor
        {
            bottom: -3%;
            left: 45%;
        }
    }
}

@media screen and (max-width: 500px)
{
    .b-top-block
    {
        &__arrow-icon
        {
            &_left
            {
                &:focus,
                &:hover
                {
                    background: url(../../img/next-red.svg) center center no-repeat;
                    transform: rotate(180deg);
                    width: 20px;
                    height: 24px;
                }
            }

            &_right
            {
                &:focus,
                &:hover
                {
                    background: url(../../img/next-red.svg) center center no-repeat;
                    width: 20px;
                    height: 24px;
                }
            }
        }

        &__circle
        {
            margin-top: 15px;
        }

        &__description
        {
            margin-top: 45px;
        }

        &__title
        {
            margin-top: 15px;
        }

        &__buttons-block
        {
            margin-top: 15px;
        }

        &__carousel
        {
            &:before
            {
                border-bottom: 35px solid #fff;
                border-right: 250px solid transparent;
            }
    
            &:after
            {
                border-bottom: 35px solid #fff;
                border-left: 250px solid transparent;
            }
        }

        &__content
        {
            margin-top: 115px;
            margin-bottom: 89px;
        }

        &__arrow
        {
            top: -65px;

            &_left,
            &_right
            {
                &:hover,
                &:focus
                {
                    background: none;
                }
                background: none;
            }
        }
    }
}

@media screen and (max-width: 415px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -25px;
        }
    }
}


@media screen and (max-width: 404px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -45px;
        }
    }
}

@media screen and (max-width: 347px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -100px;
        }
    }
}

@media screen and (max-width: 340px)
{
    .b-top-block
    {
        &__anchor
        {
            bottom: -1%;
            left: 43%;
        }
    }
}

@media screen and (max-width: 336px)
{
    .b-top-block
    {
        &__arrow
        {
            top: -120px;
        }
    }
}