.reset-padding
{
    padding: 0;
}

.carousel-indicators .active
{
    background-color: #e74c3c;
}

.carousel-indicators li
{
    background-color: #6a6a6a;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.reset-all
{
    margin: 0;
    padding: 0;
}

.grey-line
{
    border: 1px solid #eee;
}