@import "const/const.scss";

.b-characteristic
{
    padding: 125px 0 106px;

    &__square-item
    {
        position: relative;
        margin: 0 auto 27px;
        display: inline-block;
    }

    &__item
    {
        text-align: center;

        &:hover
        {
            cursor: pointer;
        }

        &:hover .b-characteristic__square
        {
            border-color: $mainRed;
            transform: rotate(45deg);
        }

        &:hover .b-characteristic__title
        {
            color: $mainRed;
        }
    }

    &__square
    {
        border: 1px solid $moreLightGrey;
        width: 70px;
        height: 70px;
        transition: $transition;
    }

    &__icon
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: $transition;

        &_heart
        {
            height: 19px;
            width: 22px;
            margin-left: -11px;
            margin-top: -9.5px;
            background: url(../../img/heart.png) center center no-repeat;
        }

        &_comment
        {
            height: 22px;
            width: 21px;
            margin-left: -10.5px;
            margin-top: -11px;
            background: url(../../img/comment.png) center center no-repeat;
        }

        &_lamp
        {
            height: 27px;
            width: 17px;
            margin-left: -8.5px;
            margin-top: -13.5px;
            background: url(../../img/lamp.png) center center no-repeat;
        }

        &_glasses
        {
            height: 13px;
            width: 27px;
            margin-left: -13.5px;
            margin-top: -6.5px;
            background: url(../../img/glasses.png) center center no-repeat;
        }
    }


    &__separator
    {
        height: 2px;
        width: 40px;
        margin: 12px auto;
        background: $moreDarkGrey;
    }

    &__title
    {
        font: 700 18px/24px $moreFont;
        color: $grey;
    }

    &__description
    {
        font: 400 12px/20px $mainFont;
        color: $lightGrey;
    }

}

@media screen and (min-width: 1025px)
{
    .b-characteristic
    {
        &__item
        {
            &:hover
            {
                cursor: pointer;
            }

            &:hover .b-characteristic__square
            {
                border-color: $mainRed;
                transform: rotate(45deg);
            }

            &:hover .b-characteristic__title
            {
                color: $mainRed;
            }
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-characteristic
    {
        padding: 55px 0 80px;

        &__item
        {
            &:focus
            {
                cursor: pointer;
            }

            &:focus .b-characteristic__square
            {
                border-color: $mainRed;
                transform: rotate(45deg);
            }

            &:focus .b-characteristic__title
            {
                color: $mainRed;
            }

            &:focus .b-characteristic__icon
            {
                transform: rotate(-45deg);
            }
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-characteristic
    {
        &__icon
        {
            margin: 0;

            &_glasses
            {
                top: 29px;
                left: 22px;
            }

            &_heart
            {
                top: 27px;
                left: 24px;
            }

            &_comment
            {
                top: 25px;
                left: 25px;
            }

            &_lamp
            {
                top: 22px;
                left: 26px;
            }
        }

        &__item
        {
            margin-bottom: 50px;

            &_last
            {
                margin-bottom: 0;
            }
        }

        &__description-block
        {
            margin-left: 97px;
        }

        &__square-item
        {
            margin-right: 25px;
            display: block;
        }

        &__square
        {
            float: left;
            margin: 0;
        }

        &__title,
        &__description
        {
            text-align: left;
            margin: 0;
        }

        &__separator
        {
            height: 0;
        }
    }
}

@media screen and (max-width: 614px) and (min-width: 576px)
{
    .b-characteristic
    {
        &__title
        {
            font-size: 16px;
        }
    }
}


@media screen and (max-width: 575px)
{
    .b-characteristic
    {
        padding: 50px 0;

        &__item
        {
            margin-bottom: 40px;

            &_last
            {
                margin-bottom: 0;
            }
        }

        &__description-block 
        {
            margin-left: 140px;
        }

        &__square-item
        {
            margin: 0 30px;
            display: block;
        }
    }
}

@media screen and (max-width: 414px)
{
    .b-characteristic
    {
        &__description-block 
        {
            margin-left: 125px;
        }

        &__square-item
        {
            margin: 0 20px;
        }
    }
}