.b-characteristic
{
    padding: 125px 0 106px;

    // &:after
    // {
    //     margin-top: 115px;
    //     margin-bottom: 140px;
    //     height: 1px;
    //     content: '';
    //     background: #e6e7eb;
    //     display: block;
    //     background-size: cover;
    // }

    &__item
    {
        &:hover
        {
            cursor: pointer;            
        }

        &:hover .b-characteristic__square
        {
            border-color: #e74c3c;
            transform: rotate(45deg);
        }

        // &:hover .b-characteristic__icon
        // {
        //     transform: rotate(-45deg);
        // }

        &:hover .b-characteristic__title
        {
            color: #e74c3c;
        }
    }

    &__square
    {
        border: 1px solid #e5e5e5;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        transition: all 0.3s;
        margin-bottom: 27px;
        position: absolute;
        top: -8px;
        right: -25px;

        &_glasses
        {
            right: -22px;
        }

        &_lamp
        {
            right: -27px;
        }
    }

    &__icon
    {
        position: relative;
        padding-top: 55px;
        margin: 0 auto 40px;

        &_heart
        {
            height: 19px;
            width: 22px;
            background: url(../../img/heart.png) center center no-repeat;
        }

        &_comment
        {
            height: 22px;
            width: 21px;
            background: url(../../img/comment.png) center center no-repeat;
        }

        &_lamp
        {
            height: 27px;
            width: 17px;
            background: url(../../img/lamp.png) center center no-repeat;
        }

        &_glasses
        {
            height: 13px;
            width: 27px;
            background: url(../../img/glasses.png) center center no-repeat;
        }
    }
    

    &__separator
    {
        height: 2px;
        width: 40px;
        margin: 12px auto;
        background: #888888;
        display: block;
        content: "";
    }

    &__title
    {
        text-align: center;
        font: 700 18px/24px 'Open Sans', sans-serif;
        color: #6a6a6a;
        position: relative;
    }

    &__description
    {
        text-align: center;
        font: 400 12px/20px 'Source Sans Pro', sans-serif;
        color: #999;
    }

}