@import "const/const.scss";

.b-amount
{
    background: url(../../img/background-amount.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 150px 0 120px 0;

    &__circle
    {
        width: 110px;
        height: 110px;
        background: transparent;
        border: 2px solid $white;
        border-radius: 50%;
        position: relative;
        margin: auto;
        margin-bottom: 45px;
    }

    &__item
    {
        text-align: center;
    }

    &__icon
    {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        &_heart
        {
            background: url(../../img/heart-light.png) center center no-repeat;
            height: 26px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -13px;
        }

        &_chek
        {
            background: url(../../img/chek.png) center center no-repeat;
            height: 29px;
            width: 29px;
            margin-left: -14.5px;
            margin-top: -14.5px;
        }

        &_star
        {
            background: url(../../img/star.png) center center no-repeat;
            height: 29px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -14.5px;
        }

        &_flag
        {
            background: url(../../img/flag.png) center center no-repeat;
            height: 28px;
            width: 22px;
            margin-left: -11px;
            margin-top: -14px;
        }

        &_ok
        {
            background: url(../../img/ok.png) center center no-repeat;
            height: 31px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -15.5px;
        }
    }

    &__number
    {
        color: $lightText;
        font: 600  27px/34px $moreFont;
        text-align: center;
        margin-bottom: 10px;
    }

    &__description
    {
        color: $lightText;
        font: 400  14px/18px $moreFont;
        text-align: center;
    }
}

@media screen and (max-width: 1450px)
{
    .b-amount
    {
        padding: 130px 0;
    }
}

@media screen and (max-width: 1024px)
{
    .b-amount
    {
        padding: 90px 0;

        &__circle 
        {
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-amount
    {
        &__circle
        {
            width: 78px;
            height: 78px;
        }

        &__all-block
        {
            display: flex;
            justify-content: space-around;
            text-align: justify;
            padding: 0;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-amount
    { 
        padding: 50px 0;
    }
}

@media screen and (max-width: 556px)
{
    .b-amount
    { 
        &__circle
        {
            width: 65px;
            height: 65px;
        }
    }
}

@media screen and (max-width: 504px)
{
    .b-amount
    { 
        &__item
        {
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
        }

        &__circle
        {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
        }

        &__description
        {
            text-align: left;
            margin: 0;
        }

        &__number
        {
            text-align: left;
            margin-bottom: 3px; 
        }

        &__block
        {
            margin: 20px 0;
            min-width: 200px;
        }
    }
}

@media screen and (max-width: 487px)
{
    .b-amount
    { 
        &__block
        {
            min-width: 250px;
            margin: 10px 0 10px 25px;
        }

        &__item
        {
            margin-left: 20px;
        }

        &__circle
        {
            width: 78px;
            height: 78px;
        }
    }
}

@media screen and (max-width: 411px)
{
    .b-amount
    { 
        &__circle
        {
            width: 65px;
            height: 65px;
        }
    }
}