.b-amount
{
    background: url(../../img/background-amount.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 160px 0 120px 0;

    &__circle
    {
        width: 110px;
        height: 110px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 50%;
        position: relative;
        margin: auto;
        margin-bottom: 50px;
    }

    &__icon
    {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        &_heart
        {
            background: url(../../img/heart-light.png) center center no-repeat;
            height: 26px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -13px;
        }

        &_chek
        {
            background: url(../../img/chek.png) center center no-repeat;
            height: 29px;
            width: 29px;
            margin-left: -14.5px;
            margin-top: -14.5px;
        }

        &_star
        {
            background: url(../../img/star.png) center center no-repeat;
            height: 29px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -14.5px;
        }

        &_flag
        {
            background: url(../../img/flag.png) center center no-repeat;
            height: 28px;
            width: 22px;
            margin-left: -11px;
            margin-top: -14px;
        }

        &_ok
        {
            background: url(../../img/ok.png) center center no-repeat;
            height: 31px;
            width: 31px;
            margin-left: -15.5px;
            margin-top: -15.5px;
        }
    }

    &__number
    {
        color: #f4f5f9;
        font: 400  30px/34px 'Open Sans',sans-serif;
        text-align: center;
    }

    &__description
    {
        color: #f4f5f9;
        font: 400  14px/18px 'Open Sans',sans-serif;
        text-align: center;
    }
}

@media screen and (max-width: 1024px)
{
    .b-amount
    {
        padding: 90px 0;

        &__circle 
        {
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-amount
    {
        &__circle
        {
            width: 78px;
            height: 78px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-amount
    { 
        padding: 60px 0;
    }
}