.b-case-study
{
    background-color: #f4f5f9;
    text-align: center;
    padding: 145px 0;

    &__title
    {
        margin-bottom: 18px;
        color: #6a6a6a;
        font: 600 36px/40px 'Source Sans Pro', sans-serif;
    }

    &__description
    {
        color: #6a6a6a;
        font: 400 14px/24px 'Open Sans',sans-serif;
        margin-bottom: 0;
    }

    &__carousel-block
    {
        background-color: #fff;
        padding: 80px 60px 155px 60px;
        text-align: center;
        margin: 50px auto;
        position: relative;
        width: 100%;
        top: 0;
    }

    &__carousel-icon
    {
        background: #e74c3c;
        height: 90px;
        width: 90px;
        display: block; 
        margin: 0 auto;
        position: relative;
        transform: rotate(45deg);

        &_lamp
        {
            background: url(../../img/case-study-lamp.png) no-repeat;
            position: absolute;
            top: 30%;
            left: 38%;
            height: 34px;
            width: 21px;
            transform: rotate(-45deg);
        }
    }

    &__carousel-separator
    {
        height: 2px;
        width: 40px;
        margin: 23px auto;
        background: #6a6a6a;
    }

    &__carousel-title
    {
        color: #6a6a6a;
        font: 400 18px/24px 'Source Sans Pro', sans-serif;
        margin-top: 50px;
    }

    &__carousel-description
    {
        color: #999999;
        font: 400 14px/24px 'Open Sans',sans-serif;
        margin-bottom: 42px;
    }

    &__carousel-indicator
    {
        margin: 0 auto;
        bottom: 101px;

        &:hover
        {
            cursor: pointer;
        }
    }

    &__block
    {
        margin-top: 98px;
        position: relative;

        &_background
        {
            background: url(../../img/case-study-img.jpg) right no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            right: -45px;
            top: 0;
        }
    }
}

@media screen and (max-width: 1220px)
{
    .b-case-study
    {
        &__block
        {
            &_background
            {
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-case-study
    {
        padding: 90px 0;

        &__block 
        {
            margin-top: 60px;
        }

        &__carousel-block 
        {
            padding: 80px 60px 100px 60px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-case-study
    {
        &__block
        {
            margin-top: 15px;

            &_background
            {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-case-study
    { 
        padding: 60px 0;
    }
}

@media screen and (max-width: 525px)
{
    .b-case-study
    {    
        &__carousel-block
        {
            padding: 50px 40px 75px 40px;
        }

        &__carousel-indicator
        {
            bottom: 85px;
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-case-study
    {
        &__title
        {
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 22px;
        }

        &__carousel-description
        {
            font-size: 13px;
            line-height: 23px;
            margin-top: 24px;
        }

        &__carousel-title
        {
            font-size: 15px;
        }
    }
}