@import "const/const.scss";

.b-case-study
{
    background-color: $lightText;
    text-align: center;
    padding: 145px 0;

    &__title
    {
        margin-bottom: 18px;
        color: $grey;
        font: 600 36px/40px $mainFont;
    }

    &__description
    {
        color: $grey;
        font: 400 14px/24px $moreFont;
        margin-bottom: 0; 
    }

    &__carousel
    {
        z-index: 5;
    }

    &__carousel-block
    {
        background-color: $white;
        padding: 95px 60px 125px 60px; //80px 60px 155px 60px; 
        text-align: center;
        margin: 50px auto;
        //position: relative;
        width: 100%;
        top: 0;
    }

    &__carousel-square
    {
        position: relative;
    }

    &__carousel-icon
    {
        background: $mainRed;
        height: 90px;
        width: 90px;
        display: block; 
        margin: 0 auto;
        transform: rotate(45deg); 

        &_lamp
        {
            background: url(../../img/case-study-lamp.png) no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -10.5px;
            margin-top: -17px;
            height: 34px;
            width: 21px;
        }
    }

    &__carousel-separator
    {
        height: 2px;
        width: 40px;
        margin: 23px auto;
        background: $grey;
    }

    &__carousel-title
    {
        color: $grey;
        font: 400 18px/24px $mainFont;
        margin-top: 70px;
    }

    &__carousel-description
    {
        color: $lightGrey;
        font: 400 14px/24px $moreFont;
        margin-bottom: 42px;
    }

    &__carousel-indicator
    {
        margin: 0 auto;
        bottom: 105px;

        &:hover
        {
            cursor: pointer;
        }
    }

    &__block
    {
        margin-top: 98px;
        position: relative;
    }

    &__img
    {
        position: absolute;
        width: 585px;
        height: 100%;
        right: 0;
        top: 0;

        &_computer
        {
            background: url(../../img/case-study-img.jpg) right no-repeat;
        }

        &_map-case
        {
            background: url(../../img/case-study-img2.jpg) right no-repeat;
        }

        &_aerostat
        {
            background: url(../../img/case-study-img3.jpg) right no-repeat;
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-case-study
    {
        &__block 
        {
            margin-top: 55px;
        }

        &__carousel-block 
        {
            padding: 80px 60px 100px 60px;
        }

        &__carousel-indicator 
        {
            bottom: 95px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-case-study
    {
        padding: 90px 0;

        &__carousel-title 
        {
            margin-top: 55px;
        }

        &__carousel-block 
        {
            padding: 70px 60px 80px 60px;
        }

        &__carousel-indicator 
        {
            bottom: 85px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-case-study
    {
        &__block
        {
            margin-top: 15px;
        }

        &__img
        {
            display: none;
        }

        &__carousel-block 
        {
            margin: 30px auto;
        }

        &__carousel-indicator 
        {
            bottom: 65px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-case-study
    { 
        padding: 60px 0;
    }
}

@media screen and (max-width: 525px)
{
    .b-case-study
    {    
        &__carousel-block
        {
            padding: 50px 40px 75px 40px;
        }

        &__carousel-title 
        {
            margin-top: 45px;
        }

        &__carousel-separator 
        {
            margin: 20px auto;
        }

        &__carousel-description 
        {
            margin-bottom: 37px;
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-case-study
    {
        &__title
        {
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 22px;
        }

        &__carousel-description
        {
            font-size: 13px;
            line-height: 23px;
            margin-top: 24px;
        }

        &__carousel-title
        {
            font-size: 15px;
        }
    }
}