.b-our-blog
{
    text-align: center;
    background: #f4f5f9;

    &__block
    {
        margin-top: 100px;
    }

    &__item-img
    {
        width: 100%;
        display: block;

        &_coffe
        {
            background: url(../../img/our-blog-1.jpg) no-repeat;
            background-size: cover;
        }

        &_watch
        {
            background: url(../../img/our-blog-2.jpg) no-repeat;
            background-size: cover;
        }

        &_road
        {
            background: url(../../img/our-blog-3.jpg) no-repeat;
            background-size: cover;
        }
        
        &_car
        {
            background: url(../../img/our-blog-4.jpg) no-repeat;
            background-size: cover;
        }
    }

    &__separator
    {
        margin: 8px 0 30px;
        width: 35px;
    }

    &__description
    {
        font: 400 14px/25px 'Open Sans', sans-serif;
        margin: 0 0 30px 0;
    }

    &__title
    {
        font: 600 24px/28px 'Source Sans Pro', sans-serif;
        margin: 0;
    }

    &__subtitle
    {
        margin: 0 0 10px 0;
    }

    &__link
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__link-block
    {
        font: 400 italic 14px/24px 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        position: relative;

        &:hover
        {
            color: #fff;
            text-decoration: none;
        }
    }

    &__arrow
    {
        color: #fff;
        display: block;
        position: absolute;
        top: 0;
        left: 80px;
        transition: all 0.3s ease;
    }

    &__description-left
    {
        position: relative;
        width: 100%; 
        color: #fff;
        display: block;
        padding: 50px 50px 70px 50px;
        text-align: left;

        &:before
        {
            z-index: 10;
            content: '';
            position: absolute;
            left: -75px;
            top: 37%;
            border: 49px solid transparent;
            border-right: 41px solid #e74e3e;
        }
    }

    &__description-right
    {
        position: relative;
        width: 100%; 
        color: #fff;
        display: block;
        float: left;
        padding: 50px 50px 70px 50px;
        text-align: left;

        &:before
        {
            z-index: 10;
            content: ''; 
            position: absolute;
            right: -75px; 
            top:  37%;
            border: 49px solid transparent;
            border-left: 41px solid #e74e3e;
        }
    }

    &__item-description
    {
        background: #e74e3e;
    }
}

.b-our-blog__link:hover ~ .b-our-blog__arrow
{
    left: 90px;
}

@media screen and (max-width: 1385px) and (min-width: 1025px)
{
    .b-our-blog
    {
        &__description-left,
        &__description-right
        {
            padding: 45px 35px 35px 35px;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px)
{
    .b-our-blog
    {
        &__description-left,
        &__description-right
        {
            padding: 40px 30px 30px 30px;
        }

        &__block
        {
            margin-top: 70px;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 576px)
{
    .b-our-blog
    {
        &__item
        {
            border-bottom: 1px solid #fff;
        }

        &__block
        {
            margin-top: 70px;
        }
    }
}

@media screen and (max-width: 700px)
{
    .b-our-blog
    {
        &__description-left,
        &__description-right
        {
            padding: 40px 30px 30px 30px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-our-blog
    {
        &__item-img
        {
            height: 100%;
        }

        &__description-right,
        &__description-left
        {
            &:before
            {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 510px)
{
    .b-our-blog
    {
        &__description-left,
        &__description-right
        {
            padding: 30px 20px 20px 30px;
        }

        &__title
        {
            font-size: 20px;
            line-height: 24px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 22px; 
            margin-bottom: 10px;
        }

        &__separator
        {
            margin-bottom: 10px;
        }
    }
}

