@import "const/const.scss";

.b-started-now
{
    background: url(../../img/footer-background.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: $white;

    &__title
    {
        font: 400 36px/40px $moreFont;

        &_fat
        {
            font-weight: 600;
        }
    }

    &__description
    {
        font: 400 18px/24px $moreFont;
        margin-bottom: 70px;
    }

    &__block
    {
        padding: 145px 0 133px;
    }
}

@media screen and (max-width: 1024px)
{
    .b-started-now
    {
        &__block
        {
            padding: 90px 0;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-started-now
    {
        &__block
        {
            padding: 60px 0;
        }

        &__description 
        {
            margin-bottom: 45px;
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-started-now
    {
        &__title
        {
            font-size: 30px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 25px;
            margin-bottom: 25px;
        }
    }
}