@import "const/const.scss";

.b-our-team
{
    background: url(../../img/background-our-team.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 143px;
    position: relative;
    max-height: 745px;
    z-index: 0;

    &:after
    {
        background: url(../../img/curve-our-team.png) bottom center no-repeat;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
    }

    &__title-block
    {
        margin-bottom: 115px;
    }

    &__description
    {
        color: $lightText;
    }

    &__title
    {
        color: $white;
    }

    &__all-workers
    {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        top: 65px;
        left: 0;
    }

    &__block-worker
    {
        padding-bottom: 385px;
    }

    &__background-hover
    {
        z-index: 1;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        background: $mainRed;
        border-radius: 50%;
    }

    &__hover-block
    {
        width: 100%;
        transition: $transition;
        opacity: 0;
        margin-top: 55px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        &_kazi
        {
            top: 30px;
        }

        &_alice
        {
            top: 65px;
        }

        &_kenneth
        {
            top: 28px;
        }

        &_sabrina
        {
            top: 62px;
        }

        &_oliver
        {
            top: 25px;
        }
    }

    &__hover-separator
    {
        background: $white;
        height: 70px;
        width: 1px;
        margin: 0 auto;
    }

    &__name
    {
        color: $mainRed;
        font: 600 24px/28px $moreFont;
    }

    &__proffesion
    {
        color: $white;
        font: 400 14px/18px $mainFont;
    }

    &__worker
    {
        display: inline-block;
        position: absolute;
        transition: $transition;
        margin: 0 auto;
        border: 3px solid $mainRed;
        border-radius: 50%;
        overflow: hidden;
        left: 50%;
        margin-left: -28px;
        z-index: 10;

        &:hover
        {
            transform: scale(1.3);
            cursor: pointer;
            box-shadow: 0 5px 12.75px 2.25px $boxShadow;
        }

        &_kazi
        {
            top: 30px;
        }

        &_alice
        {
            top: 65px;
        }

        &_kenneth
        {
            top: 28px;
        }

        &_sabrina
        {
            top: 62px;
        }

        &_oliver
        {
            top: 20px;
        }
    }

    &__photo
    {
        height: 50px;
        width: 50px;
        display: inline-block;

        &_alice
        {
            background: url(../../img/1-our-team.png) no-repeat;
        }

        &_kazi
        {
            background: url(../../img/2-our-team.png) no-repeat;
        }

        &_kenneth
        {
            background: url(../../img/3-our-team.png) no-repeat;
        }

        &_sabrina
        {
            background: url(../../img/4-our-team.png) no-repeat;
        }

        &_oliver
        {
            background: url(../../img/5-our-team.png) no-repeat;
        }
    }
}

.b-our-team__worker:hover .b-our-team__background-hover
{
    opacity: 0.5;
}

.b-our-team__worker:hover ~ .b-our-team__hover-block
{
    opacity: 1;
}

@media screen and (min-width: 1200px)
{
    .b-our-team
    {
        &__container
        {
            max-width: 1375px;
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-our-team
    {
        &__title-block 
        {
            margin-bottom: 55px;
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-our-team
    {
        &__worker
        {
            &_alice
            {
                top: 75px;
            }
        }

        &__hover-block
        {
            &_alice
            {
                top: 75px;
            }
        }
    }
}

@media screen and (max-width: 1320px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 30px;
            }
        }

        &__hover-block
        {
            &_oliver
            {
                top: 30px;
            }
        }
    }
}

@media screen and (max-width: 1260px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 40px;
            }
        }

        &__hover-block
        {
            &_oliver
            {
                top: 40px;
            }
        }
    }
}

@media screen and (max-width: 1160px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 50px;
            }

            &_alice
            {
                top: 65px;
            }
        }

        &__hover-block
        {
            &_oliver
            {
                top: 50px;
            }

            &_alice
            {
                top: 65px;
            }
        }
    }
}

@media screen and (max-width: 1060px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 60px;
            }

            &_alice
            {
                top: 55px;
            }
        }

        &__hover-block
        {
            &_oliver
            {
                top: 60px;
            }

            &_alice
            {
                top: 55px;
            }
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-our-team
    {
        padding-top: 65px;

        &:after
        {
            background: url(../../img/curve-our-team-1024.png) bottom center no-repeat;
        }

        &__block-worker
        {
            padding-bottom: 260px;
        }

        &__worker
        {
            &:focus
            {
                transform: scale(1.3);
                cursor: pointer;
                box-shadow: 0 5px 12.75px 2.25px $boxShadow;
            }

            &_oliver
            {
                top: 47px;
            }

            &_alice
            {
                top: 38px;
            }
        }

        &__hover-block
        {
            &_kazi,
            &_alice,
            &_kenneth,
            &_sabrina,
            &_oliver
            {
                top: 27px;
            }
        }
    }

    .b-our-team__worker:focus .b-our-team__background-hover
    {
        opacity: 0.5;
    }

    .b-our-team__worker:focus ~ .b-our-team__hover-block
    {
        opacity: 1;
    }
}

@media screen and (max-width: 850px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 55px;
            }

            &_alice
            {
                top: 30px;
            }
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-our-team
    {
        &__title-block 
        {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 570px)
{
    .b-our-team
    {
        &__worker
        {
            &_oliver 
            {
                top: 65px;
            }

            &_alice
            {
                top: 25px;
            }

            &_sabrina 
            {
                top: 55px;
            }

            &_kenneth 
            {
                top: 35px;
            }

            &_kazi 
            {
                top: 25px;
            }
        }
    }
}

@media screen and (max-width: 455px)
{
    .b-our-team
    {
        &__proffesion
        {
           font-size: 13px;
           line-height: 15px; 
        }

        &__name
        {
            font-size: 18px;
            line-height: 22px;  
        }
    }
}

@media screen and (max-width: 420px)
{
    .b-our-team
    {
        &__proffesion
        {
           font-size: 12px;
           line-height: 15px; 
        }

        &__name
        {
            font-size: 15px;
            line-height: 22px;  
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-our-team
    {
        &__title
        {
            font-size: 30px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: 375px)
{
    .b-our-team
    {
        &__photo
        {
            height: 44px;
            width: 44px;

            &_alice
            {
                background: url(../../img/1-our-team-44.png) no-repeat;
            }
    
            &_kazi
            {
                background: url(../../img/2-our-team-44.png) no-repeat;
            }
    
            &_kenneth
            {
                background: url(../../img/3-our-team-44.png) no-repeat;
            }
    
            &_sabrina
            {
                background: url(../../img/4-our-team-44.png) no-repeat;
            }
    
            &_oliver
            {
                background: url(../../img/5-our-team-44.png) no-repeat;
            }
        }

        &__worker
        {
            margin-left: -24px;

            &:focus,
            &:hover
            {
                transform: scale(1.1); 
            }

            &_alice
            {
                top: 30px;
            }
    
            &_kazi
            {
                top: 30px;
            }
    
            &_sabrina
            {
                top: 50px;
            }
        }

        
        &__hover-block
        {
            &_kazi,
            &_alice,
            &_kenneth,
            &_sabrina,
            &_oliver
            {
                top: 27px;
            }
        }
    }
}