.b-our-pricing
{
    padding: 148px 0 140px 0;
    text-align: center;

    &__block
    {
        margin-top: 95px;
    }

    // &__main-background
    // {
    //     background-color: #f4f5f9;
    //     height: 100%;
    //     width: 100%;
    //     position: relative;
    // }

    // &__inner-background
    // {
    //     height: 40%;
    //     margin: 0;
    //     padding: 0;
    //     width: 100%;
    //     position: absolute;

    //     &_grey
    //     {
    //         background-color: #999999;
    //     }

    //     &_red
    //     {
    //         background-color: #e74c3c;
    //     }
    // }

    &__block-title
    {
        color: #fff;
        font: 500 24px/28px 'Open Sans',sans-serif;
        padding: 45px 0px;
        background-color: #999;
        position: relative;
        height: 200px;

        &_premium
        {
            background-color: #e74c3c;
        }
    }

    &__circle
    {
        background: #fff;
        position: absolute;
        top: 8%;
        left: 8%;
        display: table;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    &__outer-circle
    {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background: rgba(244, 245, 249, 0.251);
        margin: 0 auto;
        position: absolute;
        top: 16%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__additional-block
    {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__circle-block
    {
        display: table-cell;
        vertical-align: middle;
        color: #999;
        text-align: center;
    }

    &__circle-title
    {
        font: 600 36px/40px 'Source Sans Pro', sans-serif;

        &_red
        {
            color: #e74c3c;
        }
    }

    &__circle-description
    {
        font: 400 13px/15px 'Source Sans Pro', sans-serif;
    }

    &__block-description
    {
        color: #999;
        font: 400 14px/40px 'Open Sans',sans-serif;
        text-align: center;
        padding: 115px 0 50px;
        background: #f4f5f9;

        &_outside
        {
            padding: 0;
            margin: 0;
        }
    }

    &__list
    {
        list-style-type: none;
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 1024px)
{
    .b-our-pricing
    {
        padding: 90px 0;

        &__block 
        {
            margin-top: 65px;
        }

        &__block-description 
        {
            padding: 75px 0 35px;
        }

        &__list 
        {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
    .b-our-pricing
    {
        &__outer-circle
        {
            width: 150px;
            height: 150px;
        }

        &__circle
        {
            width: 125px;
            height: 125px;
        }

        &__circle-title
        {
            font-size: 30px;
            line-height: 36px;
        }

        &__block-title 
        {
            height: 160px;
            padding: 30px 0;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-our-pricing
    {
        &__block-title 
        {
            padding: 30px 0;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-our-pricing
    {
        padding: 60px 0;

        &__team
        {
            margin-bottom: 15px;
        }

        &__list-item
        {
            line-height: 28px;
        }
    }
}

@media screen and (max-width: 330px)
{
    .b-our-pricing
    {
        &__outer-circle
        {
            width: 150px;
            height: 150px;
        }

        &__circle
        {
            width: 125px;
            height: 125px;
        }

        &__circle-title
        {
            font-size: 30px;
            line-height: 36px;
        }

        &__block-title 
        {
            height: 150px;
        }
    }
}