.b-our-pricing
{
    padding: 148px 0 140px 0;
    text-align: center;

    &__block
    {
        margin-top: 95px;
    }

    // &__main-background
    // {
    //     background-color: #f4f5f9;
    //     height: 100%;
    //     width: 100%;
    //     position: relative;
    // }

    // &__inner-background
    // {
    //     height: 40%;
    //     margin: 0;
    //     padding: 0;
    //     width: 100%;
    //     //position: absolute;

    //     &_grey
    //     {
    //         background-color: #999999;
    //     }

    //     &_red
    //     {
    //         background-color: #e74c3c;
    //     }
    // }

    &__block-title
    {
        color: #fff;
        font: 400 24px/28px 'Open Sans',sans-serif;
        padding: 45px 0px;
        background-color: #999;
        position: relative;
        height: 200px;

        &_premium
        {
            background-color: #e74c3c;
        }
    }

    &__circle
    {
        background: url(../../img/circle-our-pricing.png) center center no-repeat;
        position: absolute;
        top: 17%;;
        left: 0;
        height: 190px;
        width: 100%;
        display: table;
    }

    &__circle-block
    {
        display: table-cell;
        vertical-align: middle;
        color: #999;
        text-align: center;
    }

    &__circle-title
    {
        font: 600 36px/40px 'Source Sans Pro', sans-serif;
    }

    &__circle-description
    {
        font: 400 13px/15px 'Source Sans Pro', sans-serif;
    }

    &__block-description
    {
        color: #999;
        font: 400 14px/40px 'Open Sans',sans-serif;
        text-align: center;
        padding: 115px 0 50px;
        background: #f4f5f9;
    }

    &__button
    {
        margin-top: 37px; 
        margin-bottom: 0;
        padding: 15px 28px;

        &_grey
        {
            background-color: #999;
            border: 2px solid #999;

            &:hover
            {
                background-color: #656565;
                border-color: #656565;
            }
        }
    }
}