@import "const/const.scss";

.b-our-pricing
{
    padding: 148px 0 140px 0;
    text-align: center;

    &__block
    {
        margin-top: 95px;
    }

    &__block-title
    {
        color: $white;
        font: 500 24px/28px $moreFont;
        padding: 45px 0 110px;
        background-color: $lightGrey;
        //position: relative;

        &_premium
        {
            background-color: $mainRed;
        }
    }

    &__circle
    {
        background: $white;
        position: absolute;
        top: 8%;
        left: 8%;
        display: table;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    &__outer-circle
    {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background: $circleBackground;
        margin: 0 auto;
        position: absolute;
        top: 16%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__circle-block
    {
        display: table-cell;
        vertical-align: middle;
        color: $lightGrey;
        text-align: center;
    }

    &__circle-title
    {
        font: 600 36px/40px $mainFont;

        &_red
        {
            color: $mainRed;
        }
    }

    &__circle-description
    {
        font: 400 13px/15px $mainFont;
    }

    &__block-description
    {
        color: $lightGrey;
        font: 400 14px/20px $moreFont;
        text-align: center;
        padding: 115px 0 50px;
        background: $lightText;

        &_outside
        {
            padding: 0;
            margin: 0;
        }
    }

    &__list
    {
        list-style-type: none;
        margin-bottom: 37px;
    }

    &__list-item
    {
        margin-bottom: 21px;
    }
}

@media screen and (max-width: 1450px)
{
    .b-our-pricing
    {
        &__block 
        {
            margin-top: 55px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-our-pricing
    {
        padding: 90px 0;

        &__block-title 
        {
            padding-top: 35px;
        }

        &__block-description 
        {
            padding: 95px 0 35px;
        }

        &__list 
        {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
    .b-our-pricing
    {
        &__outer-circle
        {
            width: 150px;
            height: 150px;
        }

        &__circle
        {
            width: 125px;
            height: 125px;
        }

        &__circle-title
        {
            font-size: 30px;
            line-height: 36px;
        }

        &__block-title 
        {
            padding: 30px 0 70px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-our-pricing
    {
        &__block-title 
        {
            padding: 35px 0 125px;
        }

        &__block-description 
        {
            padding-top: 80px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-our-pricing
    {
        padding: 60px 0;

        &__team
        {
            margin-bottom: 35px;
        }

        &__list-item
        {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 420px)
{
    .b-our-pricing
    {
        &__outer-circle
        {
            width: 150px;
            height: 150px;
        }

        &__block-description 
        {
            padding-top: 70px;
        }

        &__circle
        {
            width: 125px;
            height: 125px;
        }

        &__circle-title
        {
            font-size: 30px;
            line-height: 36px;
        }

        &__block-title 
        {
            height: 150px;
            padding: 25px 0 125px;
        }
    }
}