@import 'const/const.scss';

.b-recent-work
{
    margin-top: 130px;
    text-align: center;

    &__title
    {
        font: 600 36px/40px $mainFont;
        color: $grey;
        margin-bottom: 16px;
    }

    &__description
    {
        color: $lightGrey;
        font: 400 14px/18px $mainFont;
        margin-bottom: 0;
    }

    &__list-inline-item
    {
        margin-right: 0 !important;
    }

    &__img
    {
        width: 100%;

        &_background
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: $mainRed;
            opacity: 0;
            transition: $transition;
        }
    }

    &__menu
    {
        margin-top: 95px;
        margin-bottom: 46px;
        color: $lightGrey;
    }

    &__list-item
    {
        padding: 0px 14px;
        color: $lightGrey;
        transition: $transition;

        &:focus,
        &:hover
        {
            color: $mainRed;
            text-decoration: none;
        }
    }

    &__circle
    {
        margin-top: 22px;
        height: 8px;
        width: 8px;

        &:before,
        &:after
        {
            background-color: $lightGrey;
            height: 1px;
        }
    }

    &__link
    {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        &:hover 
        {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__item
    {
        position: relative;
    }

    &__hover-block
    {
        transition: $transition;
        opacity: 0;
        position: absolute;
        bottom: 0;
        color: $white;
        //display: inline-block;
        left: 10%;
    }

    &__hover-separator
    {
        height: 4px;
        width: 44px;
        background: $white;
        display: block;
        content: "";
    }

    &__hover-title,
    &__hover-description
    {
        margin-top: 20px;
        text-align: left;
    }
 
    &__hover-description
    {
        margin-top: 0;
        margin-bottom: 45px;
    }

    &__drop-down-list
    {
        display: none;
    }
}

.b-recent-work__link:hover ~ .b-recent-work__hover-block
{
    opacity: 1;
}

.b-recent-work__link:hover ~ .b-recent-work__img_background
{
    opacity: 0.8;
}

@media screen and (max-width: 1450px)
{
    .b-recent-work
    {
        &__menu 
        {
            margin-top: 55px;
        }

        &__hover-description
        {
            margin-bottom: 25px;
        }

        &__hover-title
        {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-recent-work
    {
        margin-top: 90px;

        &__menu
        {
            margin-top: 55px;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px)
{
    .b-recent-work
    {
        &__hover-title
        {
            font-size: 16px;
        }

        &__hover-description
        {
            font-size: 13px;
        }

        &__hover-separator
        {
            width: 35px;
        }
    }
}

@media screen and (max-width: 995px)
{
    .b-recent-work
    {
        &__list-item
        {
            font-size: 13px;
        }

        &__hover-description 
        {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-recent-work
    {
        &__menu 
        {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-recent-work
    {
        margin-top: 60px;

        &__hover-title
        {
            font-size: 16px;
        }

        &__hover-description
        {
            font-size: 13px;
        }

        &__hover-separator
        {
            width: 35px;
        }
    }
}

@media screen and (max-width: 489px)
{
    .b-recent-work
    {
        &__menu
        {
            display: none;
        }

        &__drop-down-list
        {
            display: block;
        }

        &__list
        {
            width: 100%;
            border: 1px solid  $lightGrey;
            border-radius: 3px;
            color: $lightGrey;
            padding: 5px 20px;
            font: 400 20px/22px $mainFont;

            &:focus
            {
                outline: none !important;
            }
        }

        &__list-option
        {
            text-align: center;
            text-align-last: center;
            margin: 0 auto;

            &:hover,
            &:focus
            {
                background-color: $mainRed !important;
            }
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-recent-work
    {
        &__title
        {
            font-size: 30px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 25px;
            margin-top: 24px;
        }
    }
}