.b-recent-work
{
    margin-top: 130px;
    text-align: center;

    &__title
    {
        font: 600 36px/40px 'Source Sans Pro', sans-serif;
        color: #6a6a6a;
        margin-bottom: 16px;
    }

    &__description
    {
        color: #999999;
        font: 400 14px/18px 'Source Sans Pro', sans-serif;
        position: relative;
        margin-bottom: 0;
    }

    &__img
    {
        width: 100%;
    }

    &__menu
    {
        margin-top: 95px;
        margin-bottom: 46px;
        color: #999999;
    }

    &__list-item
    {
        padding: 0 9px;
        color: #999999;
        transition: 0.3s;

        &:hover
        {
            color: #e74c3c;
            text-decoration: none;
        }
    }

    &__circle
    {
        margin-top: 22px;
        height: 8px;
        width: 8px;

        &:before,
        &:after
        {
            background-color: #999;
            height: 1px;
        }

        &:before
        {
            margin-top: 3px;
        }

        &:after
        {
            margin-top: -1px;
            margin-left: -87px;
        }
    }

    &__link
    {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        &:hover 
        {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__background-hover
    {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #e74c3c;
        opacity: 0;
        transition: 0.3s;
    }

    &__item
    {
        position: relative;
    }

    &__hover-block
    {
        transition: 0.3s;
        opacity: 0;
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 100%;
        margin-bottom: 4%;
    }

    &__hover-separator
    {
        margin-top: 70%;
        margin-left: 10%;
        height: 4px;
        width: 44px;
        background: #fff;
        display: block;
        content: "";
    }

    &__hover-title,
    &__hover-description
    {
        margin-top: 4%;
        text-align: left;
        margin-left: 10%;
    }
 
    &__hover-description
    {
        margin-top: 0;
    }
}

.b-recent-work__link:hover ~ .b-recent-work__hover-block
{
    opacity: 1;
}

.b-recent-work__link:hover ~ .b-recent-work__background-hover
{
    opacity: 0.8;
}