@import "const/const.scss";

.b-button
{
    font: 400 14px/14px $moreFont;
    color: $white;
    text-align: center;
    border-radius: 3px;
    display: inline-block;

    &:active:focus
    {
        box-shadow: none;
    }

    &:hover,
    &:focus
    {
        cursor: pointer;
    }

    &:focus 
    {
        outline: none;
    }

    &__bigger
    {
        padding: 21px 49px;
    }

    &__big
    {
        padding: 20px 46px;
    }

    &__middle
    {
        padding: 21px 41px;
    }

    &__little-text
    {
        padding: 14px 35px;
        font: 400 12px/14px $moreFont;
    }

    &__middle-text
    {
        font: 600 13px/13px $moreFont;
    }

    &__small
    {
        padding: 14px 35px;
    }

    &__smaller
    {
        padding: 14px 28px;
    }

    &__least
    {
        padding: 14px 25px;
    }

    &__light
    {
        border: 2px solid $white;
        transition: $transition;
        padding: 20px 67px;

        &:hover
        {
            text-decoration: none;
            background-color: $white;
            color: $grey;
        }
    }

    &__margin
    {
        margin-right: 30px;
    }

    &__red
    {
        background-color: $mainRed; 
        border: 2px solid $mainRed;
        box-shadow: 0px 2px 4.75px 0.25px $boxShadowDark;
        transition: $transition;

        &:hover
        {
            background-color: $lightRed;
            border: 2px solid $lightRed;
            color: $white;
            text-decoration: none;
        }
    }

    &__grey
    {
        background-color: $lightGrey;
        border: 2px solid $lightGrey;
        box-shadow: 0px 2px 4.75px 0.25px $boxShadowDark;
        transition: $transition;

        &:hover
        {
            background-color: $darkGrey;
            border-color: $darkGrey;
            color: $white;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 995px)
{
    .b-button
    {
        font-size: 12px;

        &__big
        {
            padding: 14px 19px;
        }

        &__light
        {
            padding: 14px 36px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-button
    {
        font-size: 12px;
        line-height: 12px;

        &__middle
        {
            padding: 16px 27px;
        }

        &__bigger 
        {
            padding: 14px 24px;
        }
    }
}

@media screen and (max-width: 420px)
{
    .b-button
    {
        &__margin
        {
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 369px)
{
    .b-button
    {
        &__margin
        {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
}