@import "const/const.scss";

.b-keep-in-touch
{
    padding: 145px 0;
    text-align: center;
    background: $lightText;

    &__block
    {
        background: $white;
        box-shadow: 0px 3px 5px 0px $boxShadowLight;
    }

    &__all-block
    {
        margin-top: 100px;
        text-align: left;
    }

    &__item
    {
        padding: 97px 90px;
    }

    &__block-item
    {
        margin-bottom: 60px;
    }

    &__subtitle
    {
        color: $mainRed;
        font: 400 24px/28px $moreFont;
        margin-bottom: 18px;
    }

    &__description
    {
        color: $lightGrey;
        font: 400 18px/24px $moreFont;
        margin: 0;
    }

    &__form-group
    {
        margin-bottom: 23px;
    }

    &__form
    {
        margin: 0;
    }

    &__form-control
    {
        border-bottom: 1px solid $lightGrey;
        border-radius: 0;
        padding-left: 0;
        padding-bottom: 5px;
        border-top: none;
        border-left: none;
        border-right: none;

        &:focus,
        &:hover
        {
            border-bottom: 1px solid $darkGrey;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    &__comment
    {
        height: 125px !important;
    }
}

@media screen and (max-width: 1450px)
{
    .b-keep-in-touch
    {
        &__all-block 
        {
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-keep-in-touch
    {
        padding: 90px 0;

        // &__all-block
        // {
        //     margin-top: 60px;
        // }

        &__item 
        {
            padding: 60px 65px;
        }

        &__block-item 
        {
            margin-bottom: 45px;
        }

        &__comment 
        {
            height: 97px!important;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
    .b-keep-in-touch
    {
        &__item
        {
            padding: 45px 35px;
        }

        &__form-group 
        {
            margin-bottom: 21px;
        }

        &__block-item 
        {
            margin-bottom: 35px;
        }

        &__comment 
        {
            height: 85px!important;
        }
    }
}

@media screen and (min-width: 768px)
{
    .b-keep-in-touch
    {
        &__block-outer
        {
            background: $white;
            box-shadow: 0px 3px 5px 0px $boxShadowLight;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-keep-in-touch
    {
        &__block-inner
        {
            background: $white;
            box-shadow: 0px 3px 5px 0px $boxShadowLight;
        }

        &__block-outer
        {
            background: transparent;
            box-shadow: none;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-keep-in-touch
    {
        padding: 60px 0;
    }
}

@media screen and (max-width: 530px)
{
    .b-keep-in-touch
    {
        &__item
        {
            padding: 60px 50px;
        }

        &__subtitle
        {
            font-size: 23px;
        }

        &__description
        {
            font-size: 17px;
        }

        &__block-item
        {
            margin-bottom: 30px;
        }
    }
}