.b-our-history
{
    padding: 140px 0 150px;
    
    &__title
    {
        font: 600 36px/40px 'Source Sans Pro', sans-serif;
        color: #6a6a6a;
        margin-left: 35px;

        &:before
        {
            height: 35px;
            display: block;
            position: absolute;
            background: #e74c3c;
            content: '';
            width: 5px;
            top: 1px;
            bottom: 1px;
            left: 15px;
        }
    }

    &__description
    {
        margin-top: 37px;
        color: #999;
        font: 400 14px/29px 'Source Sans Pro', sans-serif;

        &_last
        {
            margin-bottom: 40px;
        }
    }

    &__img
    {
        width: 100%;
    }
}

@media screen and (min-width: 1025px)
{
    .b-our-history
    {
        
    }
}

@media screen and (max-width: 1024px)
{
    .b-our-history
    {
        padding: 90px 0;

        &__description
        {
            margin-top: 10px;
        }

        &__title
        {
            font-size: 30px;
            line-height: 37px;
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-our-history
    {

        &__img
        {
            width: 50%;
            display: block;
            margin: 0 auto 40px;
        }

        &__block
        {
            display: block;
            margin: 0 65px 0 30px;
        }

        &__title
        {
            &::before
            {
                left: 45px;
            }
        }
    }
}

@media screen and (max-width: 635px)
{
    .b-our-history
    {
        padding: 60px 0;

        &__block
        {
            margin: 0 20px;
        }

        &__title
        {
            &::before
            {
                left: 35px;
            }
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-our-history
    {
        &__title
        {
            font-size: 30px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 25px;
            margin-top: 24px;
        }
    }
}

@media screen and (max-width: 360px)
{
    .b-our-history
    {
        &__block
        {
            margin: 0;
        }

        &__title
        {
            &::before
            {
                left: 15px;
            }
        }
    }
}