.b-integration
{
    text-align: center;
    padding: 142px 0 112px;
    background: #f4f5f9;

    &__item
    {
        width: 205px;
        height: 105px;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
        margin: 30px auto 0;
        position: relative;

        &_background
        {
            background: #e74e3e;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            left: 0;
            transition: .3s;
        }

        &:before
        {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &__link
    {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &__logo
    {
            vertical-align: middle;
            margin: 0 auto;
            display: inline-block;

        &_osha
        {
            background: url(../../img/osha-grey.png) no-repeat;
            width: 155px;
            height: 45px;
        }

        &_affiliations
        {
            background: url(../../img/affiliations.png) no-repeat;
            width: 137px;
            height: 38px;
        }

        &_nyc
        {
            background: url(../../img/nyc-grey.png) no-repeat;
            width: 120px;
            height: 57px;
        }

        &_bbb-logo
        {
            background: url(../../img/bbb-logo-accredited.png) no-repeat;
            width: 157px;
            height: 60px;
        }

        &_sefa
        {
            background: url(../../img/sefa.png) no-repeat;
            width: 103px;
            height: 79px;
        }

        &_dummy
        {
            background: url(../../img/dummy-logo.png) no-repeat;
            width: 160px;
            height: 80px;
        }

        &_logo-type
        {
            background: url(../../img/logo-type.png) no-repeat;
            width: 101px;
            height: 58px;
        }

        &_imaginarium
        {
            background: url(../../img/imaginarium.png) no-repeat;
            width: 170px;
            height: 70px;
        }

        &_random-brend
        {
            background: url(../../img/random-brend.png) no-repeat;
            width: 150px;
            height: 80px;
        }

        &_another-logo
        {
            background: url(../../img/another-logo.png) no-repeat;
            width: 175px;
            height: 75px;
        }
    }

    &__all-block
    {
        margin-top: 105px;
    }

    &__circle
    {
        margin-top: 22px;

        &:before,
        &:after
        {
            background: #999;
            height: 1px;
        }
    }
}

.b-integration__link:hover ~ .b-integration__item_background
{
    opacity: 0.5;
}

@media screen and (max-width: 1024px)
{
    .b-integration
    {
        padding: 90px 0;

        &__all-block 
        {
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .b-integration
    {
        padding: 60px 0;

        &__all-block 
        {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 470px)
{
    .b-integration
    {
        &__item
        {
            width: 180px;
            height: 90px;
        }
    }
}

@media screen and (max-width: 419px)
{
    .b-integration
    {
        &__item
        {
            width: 148px;
            height: 85px;
        }

        &__logo
        {
            &_osha
            {
                background: url(../../img/osha-grey-140.png) no-repeat;
                width: 140px;
                height: 41px;
            }

            &_bbb-logo
            {
                background: url(../../img/bbb-logo-accredited-140.png) no-repeat;
                width: 140px;
                height: 54px;
            }

            &_dummy
            {
                background: url(../../img/dummy-logo-140.png) no-repeat;
                width: 140px;
                height: 70px;
            }

            &_imaginarium
            {
                background: url(../../img/imaginarium-140.png) no-repeat;
                width: 140px;
                height: 58px;
            }

            &_random-brend
            {
                background: url(../../img/random-brend-140.png) no-repeat;
                width: 140px;
                height: 75px;
            }

            &_another-logo
            {
                background: url(../../img/another-logo-140.png) no-repeat;
                width: 140px;
                height: 60px;
            }
        }
    }
}