.b-top-menu
{
    font:400 14px/16px 'Open Sans', sans-serif;
    //background-color: #3e3d41;

    &__block
    {
        padding: 35px 0;
    }

    &__nav-brand
    {
        margin-right: 250px;
    }

    &__nav-item
    {
        margin-left: 42px;
    }

    &__nav-link
    {
        color: #f4f5f9;
        position: relative;
        transition: all 0.3s ease;
        

        &:after
        {
            transition: all 0.3s ease;
            position: absolute;
            content: '';
            display: block;
            height: 1px;
            margin: 0 auto;
            margin-top: 15px;
            width: 80%;
        }

        &:hover
        {
            color: #e74c3c;
            
            &:after
            {
                background-color: #e74c3c;
                //transition: all 0.3s ease;
            } 
        }
    }
    
}

// @media screen and (min-width: 1250px)
// {
//     .b-top-menu
//     {    
//         &__fixed-top
//         {
//             left: auto;
//             right: auto;
//         }
//     }
// }

@media screen and (max-width: 1240px)
{
    .b-top-menu
    {  
        &__nav-item
        {
            margin-left: 35px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-top-menu
    {  
        &__block 
        {
            padding: 15px 0;
        }
        
    }
}

@media screen and (max-width: 991px)
{
    .b-top-menu
    {  
        &__nav-item
        {
            padding-top: 13px;
            padding-bottom: 13px;
            margin: 0;

            &:focus
            {
                border-color: #e74c3c;
                color: #e74c3c;
            }
        }

        &__drop-down
        {
            margin-top: 30px;
        }
        
        &__nav-link
        {
            &:after
            {
                display: none;
            }

            &:hover
            {
                color: #e74c3c; 
            }
        }
    }
}

@media screen and (max-width: 580px)
{
    .b-top-menu
    {  
        &__block 
        {
            padding: 10px 0;
        }

        &__img
        {
            height: 45px;
        }
    }
}