@import "const/const.scss";

.b-top-menu
{
    font:400 14px/16px $moreFont;

    &__block
    {
        padding: 35px 0;
    }

    &__nav-brand
    {
        margin-right: 250px;
    }

    &__nav-item
    {
        margin-left: 42px;
    }

    &__nav-link
    {
        color: $lightText;
        position: relative;
        transition: $transition;
        

        &:after
        {
            transition: $transition;
            position: absolute;
            content: '';
            display: block;
            height: 1px;
            margin: 0 auto;
            margin-top: 15px;
            width: 80%;
        }

        &:hover
        {
            color: $mainRed;
            
            &:after
            {
                background-color: $mainRed;
            } 
        }
    }
    
    &__navbar-toggler
    {
        border: none;
        font-size: 1px;
        display: inline-block;
        position: relative;
        height: 30px;
        width: 29px;
        box-sizing: content-box;
        transition: $transition;
    }

    &__navbar-toggler-icon
    {
        width: 30px;
        height: 2px;
        background-color: $white;
        border-radius: 3em;
        transition: transform .3s;

        &::before,
        &::after
        {
            display: block;
            width: 30px;
            height: 2px;
            background-color: $white;
            border-radius: 3em;
            content: "";
            position: absolute;
            left: 12px;
            top: 18px;
            transition: transform .3s;
            transform: translate(0,10em);
        }

        &::after
        {
            transform: translate(0,-10em);
        }
    }
}

@media screen and (max-width: 1450px)
{
    .b-top-menu
    {
        &__block
        {
            padding: 20px 0;
        }
    }
}

@media screen and (max-width: 1240px)
{
    .b-top-menu
    {  
        &__nav-item
        {
            margin-left: 35px;
        }
    }
}

@media screen and (max-width: 1024px)
{
    .b-top-menu
    {  
        &__block 
        {
            padding: 15px 0;
        }
        
    }
}

@media screen and (max-width: 991px)
{
    .b-top-menu
    {  
        &__nav-item
        {
            padding-top: 13px;
            padding-bottom: 13px;
            margin: 0;

            &:focus
            {
                border-color: $mainRed;
                color: $mainRed;
            }
        }

        &__drop-down
        {
            margin-top: 30px;
        }
        
        &__nav-link
        {
            &:after
            {
                display: none;
            }

            &:hover
            {
                color: $mainRed; 
            }
        }

        &__navbar-nav
        {
            text-align: center;
        }
    }
}

@media screen and (max-width: 580px)
{
    .b-top-menu
    {  
        &__block 
        {
            padding: 10px 0;
        }

        &__img
        {
            height: 45px;
        }
    }
}