.b-our-service
{
    background-color: #202020;
    width: 100%;
    text-align: right;

    &__background-image
    {
        background: url(../../img/our-service-background.jpg) right center no-repeat;
        width: 100%;
        background-size: cover;
    }

    &__block
    {
        margin-right: 70px;
        margin-top: 145px;
        margin-bottom: 145px;
    }

    &__item
    {
        margin-top: 55px;
        position: relative;
        margin-left: auto;
        max-width: 610px;

        &_web
        {
            &:before
            {
                background: url(../../img/our-service-computer.png) no-repeat;
            }
        }

        &_print
        {
            &:before
            {
                background: url(../../img/our-service-pepper.png) no-repeat;
            }
        }

        &_photo
        {
            &:before
            {
                background: url(../../img/our-service-photo.png) no-repeat;
            }
        }

        &:before
        {
            right: -120px;
            height: 72px;
            display: block;
            position: absolute;
            content: '';
            width: 73px;
            top: 10px;
            bottom: 1px;
            z-index: 20;
        }
    }

    &__title
    {
        color: #f4f5f9;
        position: relative;
        margin-right: 30px;
        font: 600 36px/40px 'Source Sans Pro', sans-serif;

        &:before
        {
            right: -36px;
            height: 93%;
            display: block;
            position: absolute;
            background: #e74c3c;
            content: '';
            width: 7px;
            top: 1px;
            bottom: 1px;
        }
    }

    &__subtitle
    {
        color: #e74c3c;
        font: 600 18px/29px 'Open Sans', sans-serif;
    }

    &__description
    {
        font: 400 14px/28px 'Source Sans Pro', sans-serif;
        color: #999999; 
    }
}

@media screen and (max-width: 1024px)
{
    .b-our-service
    {
        &__block
        {
            margin: 90px 65px 90px 30px;
        }

        &__item
        {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-our-service
    {
        &__background-image
        {
            display: none;
        }

        &__item
        {
            text-align: left;
            margin-left: 90px;

            &:before
            {
                left: -95px;
                top: 6px;
            }
        }

        &__title
        {
            text-align: left;
            margin-left: 20px;
            font-size: 30px;
            line-height: 37px;

            &:before
            {
                left: -15px;
                width: 5px;
            }
        }

        &__subtitle
        {
            font-size: 17px;
            margin: 0;
        }

        &__description
        {
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 635px)
{
    .b-our-service
    {
        &__block
        {
            margin: 65px 20px;
        }
    }
}

@media screen and (max-width: 388px)
{
    .b-our-service
    {
        &__title
        {
            font-size: 30px;
        }

        &__description
        {
            font-size: 13px;
            line-height: 25px;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 360px)
{
    .b-our-service
    {
        &__block
        {
            margin: 65px 0;
        }
    }
}