.b-footer
{
    background: #202020;


    &__icons
    {
        margin: 0 auto;
    }

    &__social
    {
        float: left;
        margin-right: 16px;
        transition: 0.3s;

        &_facebook
        {
            background: url(../../img/facebook-grey.svg) center no-repeat;
            width: 24px;
            height: 24px;

            &:hover
            {
                background: url(../../img/facebook-red.svg) center no-repeat;
            }
        }

        &_twitter
        {
            background: url(../../img/twitter-grey.svg) center no-repeat;
            width: 24px;
            height: 24px;

            &:hover
            {
                background: url(../../img/twitter-red.svg) center no-repeat;
            }
        }

        &_rss
        {
            background: url(../../img/rss-grey.svg) center no-repeat;
            width: 24px;
            height: 24px;

            &:hover
            {
                background: url(../../img/rss-red.svg) center no-repeat;
            }
        }

        &_google
        {
            background: url(../../img/google-grey.svg) center no-repeat;
            width: 24px;
            height: 24px;

            &:hover
            {
                background: url(../../img/google-red.svg) center no-repeat;
            }
        }

        &_linkedin
        {
            background: url(../../img/linkedIn-grey.svg) center no-repeat;
            width: 22px;
            height: 22px;

            &:hover
            {
                background: url(../../img/linkedIn-red.svg) center no-repeat;
            }
        }

        &_skype
        {
            background: url(../../img/skype-grey.svg) center no-repeat;
            width: 27px;
            height: 27px;

            &:hover
            {
                background: url(../../img/skype-red.svg) center no-repeat;
            }
        }

        &_vimeo
        {
            background: url(../../img/vimeo-grey.svg) center no-repeat;
            width: 22px;
            height: 22px;

            &:hover
            {
                background: url(../../img/vimeo-red.svg) center no-repeat;
            }
        }

        &_tumblr
        {
            background: url(../../img/tumblr-grey.svg) center no-repeat;
            width: 24px;
            height: 24px;

            &:hover
            {
                background: url(../../img/tumblr-red.svg) center no-repeat;
            }
        }
    }

    &__description
    {
        margin: 0;
        color: #999;
        font: 600 14px/24px 'Open Sans', sans-serif;
        text-align: right;
    }

    &__block
    {
        margin: 35px 0;
    }
}

@media screen and (max-width: 1024px)
{
    .b-footer
    {
        &__block 
        {
            margin: 25px 0;
        }
    }
}

@media screen and (max-width: 767px)
{
    .b-footer
    {
        &__description
        {
            text-align: left;
            margin: 7px 0 0 7px;
        }

        &__block
        {
            margin: 15px 0;
        }
    }
}

@media screen and (max-width: 348px)
{
    .b-footer
    {
        &__social
        {
            margin-right: 5px;
        }
    }
}