@import "const/const.scss";

.js-bar-background
{
    background-color: $navBackground;
    opacity: 0.85;
    padding-top: 0;
    padding-bottom: 0;
}

.js-toggle-active
{
    width: 0;

    &::before
    {
        transform: rotate(-45deg) translate(0,0);
        box-shadow: none;
    }

    &::after
    {
        transform: rotate(45deg) translate(0,0);
        box-shadow: none;
    }
}

.js-scroll-menu
{
    padding-top: 0;
    padding-bottom: 0;
}

.js-open-nav-bar
{
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    transition: $transition;
    display: inline-block;
    background-color: $navBackground;
}

.js-overflow-hidden
{
    overflow: hidden;
}

input.error,
textarea.error 
{
    border-bottom: 1px solid $mainRed !important;
    color: $mainRed !important;
}

.selectboxit-container .selectboxit
{
    width: 100%;
    background-color: $white;
    border-radius: 3px;
}

.selectboxit-container .selectboxit-options
{
    min-width: 91.5%;
    border-radius: 3px;
}

.ui-widget
{
    color: $lightGrey;
    font: 400 20px/22px $mainFont;
    border: 1px solid $lightGrey;

    &:focus,
    &:hover
    {
        color: $darkGrey;
        border: 1px solid $darkGrey;
    }
}

.selectboxit-text
{
    float: unset;
}

.ui-widget-content .ui-state-focus
{
    border: none;
}

.selectboxit-option-first
{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.selectboxit-option-last
{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.selectboxit .selectboxit-option-icon-container 
{
    margin-left: 0;
}

.selectboxit-container .selectboxit-options a, 
.selectboxit-container span 
{
    margin: auto;
}

@media screen and (max-width: 465px)
{
    .selectboxit-container .selectboxit-options
    {
        min-width: 91%;
    }
}

@media screen and (max-width: 428px)
{
    .selectboxit-container .selectboxit-options
    {
        min-width: 90%;
    }
}

@media screen and (max-width: 390px)
{
    .selectboxit-container .selectboxit-options
    {
        min-width: 89%;
    }
}

@media screen and (max-width: 360px)
{
    .selectboxit-container .selectboxit-options
    {
        min-width: 88%;
    }
}

@media screen and (max-width: 330px)
{
    .selectboxit-container .selectboxit-options
    {
        min-width: 87%;
    }
}